<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
                <hgroup>
                    <h1>Best Offers</h1>
                    <h3>Get Your Game With The Best Price</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" data-toggle="modal" data-target="#signUp" role="button">See all
                    features
                </button>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">
                <hgroup>
                    <h1 style="color: #e1e1e1">Fast as Ever</h1>
                    <h3>Get Your Game 24 hrs After Launch</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">See all features</button>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-3"></div>
            <div class="hero">
                <hgroup>
                    <h1>We are amazing</h1>
                    <h3>Visit Our Store to Get The Last of our offers</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" data-toggle="modal" data-target="#signUp" role="button">See all
                    features
                </button>
            </div>
        </div>
    </div>
</div>
